
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height:678px;
    display: flex;
    position: relative;
    overflow-y:hidden ;
    overflow-x:hidden ;

    
}
.left_wrapper{
    width: 50%;
    height: 100%;
    background-color: #B3B5AE;
    position: absolute;
    .navbar{
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .left_nav{
            display: flex;
            width: 170px;
            align-items: center;
            justify-content: space-between;
            color: white;
        }
        .right_nav{
            display: flex;
            width: 200px;
            align-items: center;
            justify-content: space-between;
            font-size: 8px;
            font-weight: 900;
            color: white;
        }
    }
   
     
       .image{
           width: 550px;
           overflow: hidden;
           height: 400px;
           position: absolute;
           bottom: 0;
           left: 148px;
           z-index: 1;
           

        img{
            width: 550px;
            height: 400px;
            
           
        }
       }
        h1{
            font-size: 80px;
            position: absolute;
            left:0;
            color: rgba(255, 255, 255, 0.027);
            font-weight: 700;
            bottom:300px;
            z-index: 2;
            -webkit-text-stroke: 0.1vw white;

          
        }
    .bottom{
        position: absolute;
        bottom: 0;
        width: 400px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.493);
        position: absolute;
        z-index:1;
        right: 150px;
        a{
            font-size: 7px;
            text-decoration: none;
            color: white;
            font-weight: 900;
            letter-spacing: 1.5px;
        }
        ion-icon{
            color: white;
        }
    }
    
}
.right_wrapper{
    width: 50%;
    height: 100%;
    background-color: #191921;
    color: white;
    position: absolute;
    right: 0;
    z-index: -1;
    .navbar{
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .nav_center{
            width: 400px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }
            a{
               text-decoration: none;
               color: white;
               font-size: 8px;
               font-weight: 900;
            }
        }
     }
     .center{
         position: absolute;
         right: 0;
         top: 250px;
         h1{
             font-size: 80px;
             font-weight: 700;
         }
         p{
             font-size: 14px;
             font-family: 'Quicksand', sans-serif;
         }
     }
     .bottom{
         position: absolute;
         bottom: 70px;
         right: 70px;
        
         
         p{
             letter-spacing: 10px;
             font-weight: 150;
             font-size: 14px;
             margin-bottom:3px;
         }
         .line{
             width: 40px;
             height: 0.7px;
             background-color: rgba(255, 255, 255, 0.589);
             position: absolute;
             bottom:37px;
             left: -50px;
             
         }
     }
      

}